aioredis==1.3.1
aiosmtplib==1.1.4
alabaster==0.7.12
appdirs==1.4.4
astor==0.8.1
async-timeout==3.0.1
asyncpg==0.22.0
attrs==20.3.0
autoflake==1.4
Babel==2.9.0
bandit==1.7.0
bcrypt==3.2.0
black==19.10b0
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
coverage==5.5
cryptography==3.4.7
darglint==1.8.0
distlib==0.3.1
dnspython==2.1.0
doc8==0.8.1
docutils==0.17
email-validator==1.1.2
eradicate==1.0
fakeredis==1.5.0
fastapi==0.63.0
fastapi-mail==0.3.5.0
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.14
h11==0.12.0
hiredis==2.0.0
httpcore==0.12.3
httpx==0.17.1
idna==2.10
imagesize==1.2.0
importlib-metadata==3.10.0
iniconfig==1.1.1
isort==4.3.21
Jinja2==2.11.3
jwt==1.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
multipart==0.2.4
packaging==20.9
passlib==1.7.4
pathspec==0.8.1
pbr==5.5.1
pep8-naming==0.9.1
pluggy==0.13.1
psycopg2-binary==2.8.6
psycopg2~=2.7.7
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.1
pydocstyle==5.1.1
pyflakes==2.3.1
Pygments==2.8.1
PyJWT==2.0.1
pyparsing==2.4.7
pytest==6.2.3
pytest-cov==2.11.1
python-dev-tools==2020.9.4
python-multipart==0.0.5
pytz==2021.1
pyupgrade==2.12.0
PyYAML==5.4.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
restructuredtext-lint==1.3.2
rfc3986==1.4.0
six==1.15.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
starlette==0.13.6
stevedore==3.3.0
testfixtures==6.17.1
tokenize-rt==4.1.0
toml==0.10.2
tox==3.23.0
tox-travis==0.12
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.4.3
zipp==3.4.1
gunicorn==20.1.0
uvicorn==0.13.4
uvloop==0.15.2
httptools==0.1.1
SQLAlchemy~=1.3.23
typing==3.7.4.3
jwt==1.2.0
databases==0.4.3
cloudinary==1.25.0
DateTime==4.3
SQLAlchemy-Utils==0.37.0
boto3==1.17.53
itsdangerous==1.1.0
python-socketio==5.2.1
alembic==1.6.4
sendgrid==6.7.0
pip~=21.1.2
wheel~=0.36.2
schema~=0.7.4
aiofiles~=0.6.0
setuptools~=57.0.0
botocore~=1.20.68
razorpay~=1.2.0